/* GIOI THIEU */

.gioithieucontainer
{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    position: relative;
    z-index:10;
}

.gioithieutopcontainer
{
    max-width: 58vw;
    height: auto;
    margin: 0px 2vw 0 3vw;
    display: flex;
    align-content: center;
    align-items: center;
}

.gioithieulogo
{
    width: 22%;
    height: auto;
    float: left;
}

.gioithieulogo lottie-player
{
    transition: all .2s ease-in-out;
    transform: scale(1);
}

.gioithieulogo:hover lottie-player {
    transform: scale(1.04)
}

.gioithieucontent
{
    width:75%;
    margin-top: 0px;
    height: auto;
    margin-left:2vw;
    float: left;
}

.gioithieubottomcontainer
{
    width: 56vw;
    max-width: 90vw;
    height: auto;
    margin-top: 6vh;
    margin-right: 3vw;
    margin-left: 3vw;
    display: flex;
    justify-content: space-between;
}

.gioithieuinfo
{
    width: 20%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gioithieuinfo img
{
    transition: all .2s ease-in-out;
    opacity: .8;
    max-width: 15vw;
    transform: scale(1);
}
.gioithieuinfo:hover img
{
    opacity: 1;
    transform: scale(1.04); 

}

.gioithieuinfo .title30 
{
    transition: all 0.2s ease-in-out;
}

.gioithieuinfo:hover .title30
{
    color:#347653; 

}

.gioithieuinfo .title30:hover
{
    color:#347653;
}

.gioithieuinfo:hover .title30 .texthighlight{
    color: #D07347;
}


.gioithieucontainer .progressbar
{
    width:350px;
    height: 100vh;
    position: fixed;
    margin-left: 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; 

}
.gioithieucontainer .progress-container {
    width: 350px;
    height: 2px;
    background: #CDCDCD;
    display: flex;
    align-items: center;
    margin-top: 3vh;
    margin-left: 0vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
    
}

.gioithieucontainer .progress-bar {
  height: 4px;
  background: #347653;
  width: 22%;
}

/*************************************************************************************************************************************************************/

@media screen and (max-width: 1024px)
{
   .gioithieutopcontainer
{
    max-width: 80vw;
    height: auto;
    margin: 0px 3vw 0 3vw;
    display: flex;
    align-content: center;
    align-items: center;
}
    .gioithieucontent
{
    width:100%;
    margin-top: 0px;
    height: auto;
    margin-left:0vw;
    float: left;
    max-width: 70vw;
}
    .gioithieubottomcontainer
{
    max-width: 90vw;
    width: 65vw;
    height: auto;
    margin-top:3vw;
    margin-right: 3vw;
    margin-left: 3vw;
    display: flex;
    justify-content:space-around;
    display: flex;
  flex-wrap: wrap;
}

.gioithieuinfo
{
    width: 25vw;
    margin: 3vw 3vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.gioithieuinfo .title30
    {
        font-size: 28px;
        line-height: 40px
    }

    .gioithieutopcontainer
    {
    display: flex;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    }

    .gioithieucontent .headline48
    {
        font-size: 40px;
        text-align: center;
    }
    
    .gioithieucontent .bodytext24 
    {
        font-size: 20px;
        line-height: 36px;
        text-align: center;
    }
}

@media screen and (max-width: 768px)
{
    .gioithieucontent .bodytext24 
    {
        font-size: 16px;
        text-align: center;
    }
    .gioithieuinfo .title30 
    {
        font-size: 16px;
        line-height: 28px;
    }
     .gioithieubottomcontainer
{
    max-width: 80vw;
    width: 90vw;
    height: auto;
    margin-top:3vw;
    margin-right: 3vw;
    margin-left: 3vw;
    display: flex;
    justify-content:space-around;
    display: flex;
  flex-wrap: wrap;
}

.gioithieuinfo
{
    width: 18vw;
    margin: 0vw 0vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
     .gioithieutopcontainer
{
    max-width: 100vw;
    width: 100vw;
    height: auto;
    margin: 0px 3vw 0 3vw;
    display: flex;
    align-content: center;
    align-items: center;
}
    .gioithieucontent
{
    width:100%;
    margin-top: 0px;
    height: auto;
    margin-left:0vw;
    float: left;
    max-width: 80vw;
}
    .gioithieucontent .headline48
    {
        font-size: 34px;
        text-align: center;
    }
}

/*************************************************************************************************************************************************************/


